*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}

.calculatorBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
}
table{
    background-color: #fff;
    border:  2px solid;
    border-collapse: collapse;
}
td{
    text-align: center;
    color: #fff;
    border:  2px solid #191919;
}

input[type="button"]{
    width: 100px;
    height: 80px;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
    
}
input[type="button"]:hover{
    background-color: #193;
    outline: none;
    transform: scale(.6);
}
input[type="text"]{
    width: 350px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none;
    border: none;
    font-size: 35px;

}
